<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewdetails</title>

    <style>
        table {
            /* height: 100px; */
            /* width: 100%; */
            border: 1px solid black;
            border-collapse: collapse;
            margin: 50px auto;
        }

        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            /* font-size: 20px; */
            padding: 10px;
        }

        th {
            /* font-size: 20px; */
            background-color: lightblue;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>


    <h2> ID:<%=result[0].stu_id %>
    </h2>

    <h2> Name: <%=result[0].stu_name %>
    </h2>

    <table>

        <tr>
            <th rowspan="2">subject name </th>
            <th colspan="2">Prillim exam</th>
            <th colspan="2">Terminal exam</th>
            <th colspan="2">Final exam</th>
            <th rowspan="2">total mark</th>
        </tr>

        <tr>
            <th>Practical</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Theory</th>
        </tr>

        <%for(let i=0; i<result.length; i +=3) { %>
            <tr>
                <td>
                    <%=result[i].sub_name %>
                </td>

                <% for(let j=i; j< i+3; j++ ) { %>
                    <td>
                        <%= result[j].practical%>
                    </td>
                    <td>
                        <%= result[j].theory %>
                    </td>
                    <%}%>

                        <td>
                            <%= result[i].practical + result[i].theory + result[i+1].practical + result[i+1].theory +
                                result[i+2].practical + result[i+2].theory %>
                        </td>
            </tr>

            <% } %>

</body>

</html>